target/
.cache
.classpath
.project
.settings/
logs
project/project
project/target
target
tmp
.history
.DS_Store
dist
/.idea
.idea
/*.iml
projectFilesBackup
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

